.landing {
  position: relative;
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 0px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(130, 255, 253, 0.219);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.content {
  text-align: center;
  text-shadow: 0px 8px 6px rgba(0, 0, 0, 0.4), 0px 16px 26px rgba(0, 0, 0, 0.1),
    0px 36px 46px rgba(0, 0, 0, 0.1);
  color: white;
}

.logofonte {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
